:root {
  /* BG */
  --Main-BG: #263238;
  --Secondary-BG: #0277BD;
  /* Button */
  --Main-Button: #00503d;
  --Secondary-Button: rgb(193, 183, 183);
  --Third-Button: #11151C;
  /* Text */
  --Main-Text: #000;
  --Secondary-Text: #eee;
}
/*
#28293d
/*
//#1f1e2e
//#ff6491
//#ff8d72
//#11151C